
.btnPesquisar {
  margin-top: 10px;
  background-color: var(--cor-principal);
  border: 1px solid var(--cor-principal);
  height: 30px;
  padding: 0 16px;
  font-size: 18px;
  color: var(--cor-secundaria);
  margin-left: 8px;
  cursor: pointer;
  border-radius: 4px;
}

.campo {
  padding: 0 16px;
  outline-color: var(--cor-principal);
}
